import { {{{params}}} } from 'dsl-interpreter';

/**
 * DeepCoder generated this code lines from {{ defName }}
 */
function f_coder(...args) {
    var index = 0;
    {{{codes}}}
}

export default f_coder