import program from './index'
import assert from 'assert';

{{#samples}}
/**
 * Test againts the input of program.reverse.dsl
 */
{{{samples}}}.forEach((s) => {
    console.log("Sample: ", s)
    let result = program(...s.input)
    assert.deepEqual(result, s.output)
    console.log(" - Result:", result, "- Output:", s.output)
})
{{/samples}}
